@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    border-radius: 8px;
    background-color: #fff;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-size: 14px;
}


