@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    border-radius: 8px;
    background-color: #fff;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-size: 14px;
  /* font-family: Arial, Helvetica, sans-serif; */
}

/* @media (min-width: 1600px) {
  body {
    font-size: 16px;
  }
} */


/* user layout start */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 264px;
  z-index: 999;
  transition: all 0.2s linear;
/*   padding: 1rem; */
}

.sidebar.collapsed {
  left: auto;
  right: 100%;
  transition: all 0.2s linear;
}

/* @media (max-width: 1279px) {
  .sidebar {
      left: auto;
      right: 100%;
      transition: all 0.2s linear;
    }

    .sidebar.collapsed {
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 264px;
      z-index: 999;
      transition: all 0.2s linear;
    }
} */

.content-wrapper {
  width: auto;
  margin-left: auto;
  transition: all 0.2s linear;
}

@media (min-width: 1280px) {
    .content-wrapper.collapsed {
      width: calc(100% - 264px);
    }
}
/*//End of user layout  */

/* invoice-sm start */
.invoice-sm {
  font-family: Arial, Helvetica, sans-serif
}

/* End of invoice-sm */



